
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f5f5f5;
}

/* ENCABEZADO */

header{
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid #C9A24A;
}

/* CONTENEDOR */

.layout{
    width: 100%;
}

.contenido{
    display: flex;
    padding: 30px;
}

/* banner izquierda */

.banner_izq{
    width: 230px;
    margin-right: 40px;
}

.banda_rep{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 3px solid #C9A24A;
    border-radius: 10px;
}

/* FORMULARIO */

.form-basico{
    width: 650px;
    background: white;
    border: 3px solid #C9A24A;
    border-radius: 10px;
    padding: 25px;
    margin-left: 80px;
}

.titulo{
    text-align: center;
    color: black;
    margin-bottom: 25px;
}

.entrada{
    margin-bottom: 18px;
}

.entrada label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.campo,
select,
textarea,
input[type="file"]{
    width: 100%;
    padding: 10px;
    border: 2px solid #C9A24A;
    border-radius: 6px;
    outline: none;
}

textarea{
    resize: none;
    height: 90px;
}

.icon{
    color: #C9A24A;
}

/* BOTON */

.boton{
    text-align: center;
    margin-top: 25px;
}

.boton input{
    background: black;
    color: #C9A24A;
    border: 2px solid #C9A24A;
    padding: 12px 35px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.boton input:hover{
    background: #C9A24A;
    color: black;
}

/* FOOTER */

footer{
    margin-top: 40px;
    background: black;
    color: white;
    border-top: 4px solid #C9A24A;
}

.info p{
    width:60%;

}

.contenedor-footer{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

footer h2{
    color: #C9A24A;
    margin-bottom: 10px;
}

.redes_sociales a{
    color: white;
    font-size: 28px;
    margin-right: 15px;
    text-decoration: none;
}

.redes_sociales a:hover{
    color: #C9A24A;
}

.direccion{
    text-align: center;
    padding: 15px;
    border-top: 1px solid #C9A24A;
}
